<a href="https://colab.research.google.com/github/sumanthgm/Data-Structures-Python/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to check whether string contains all alphabets (take input from user) using isalpha()</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
string=input('Enter the string')
string.isalpha()

Enter the string PYTGON

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to count number of vowels in a string (take input from user) </b>
                </font>
            </div>
        </td>
    </tr>

In [ ]:
string=input('Enter the String')
Vowels=0

for i in (string):
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        Vowels= Vowels+1

print('Number of vowels are:',Vowels)

Enter the StringSumanth
Number of vowels are: 2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to check whether given year is leap year or not (take input from user) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
input_year= int(input('Enter the input year'))
if (input_year%4)==0:
  if (input_year%100)==0:
    if (input_year%400)==0:
      print(str(input_year),+"is not leap year")
    else:
        print(str(input_year),+"is not leap year")
  else:
    print(str(input_year),+"is leap year")
else:
  print( str(input_year)+" is not a leap year")

Enter the input year2025
2025 is not a leap year

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to print Armstrong number in the interval from 100 to 2000</b>
                </font>
            </div>
        </td>
    </tr>
</table>`

In [ ]:
a=100
b=2000
for n in range (a,b+1):
  order= len(str(n))
  sum=0
  temp=n
  while temp>0:
      degit=temp%10
      sum+=degit**3
      temp//=10
  if sum==n:
    print(n)

# lower_number = 100
# upper_number= 2000
# for num in range(lower_number, upper_number + 1): # upper_number + 1 => because in python indexing strats from 0
#     order = len(str(num)) # order of number
#     sum = 0  # initialize sum
#     temp = num
#     while temp > 0:
#         digit = temp % 10
#         sum += digit ** order
#         temp //= 10
#     if num == sum:
#         print(num)

153
370
371
407

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to remove punctuations from a string (take a string containing punctuations as an input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
puntuation='''!()-[]{};:'"\,<>./?@#$%^&*_~'''
my_string= input('Eneter the input string')
no_punct=''
for char in (my_string):
  if char not in puntuation:
      no_punct= no_punct+char
print(no_punct)

Eneter the input stringsum<
sum

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to swap 2 numbers without using temporary variable (take two numbers from user) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
x=int(input('enter the 1 st number:'))
y=int(input('enetr the 2 nd number:'))
x=x+y
y=x-y
x=x-y
print('x:',x,'y:',y)

enter the 1 st number:10
enetr the 2 nd number:20
x: 20 y: 10

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to print product of two numbers</b>
                    <br><br>
                    <b> a=10 ; b="15"  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
x=int(input('enter the 1 st number:'))
y=int(input('enetr the 2 nd number:'))
product_x=x**2
product_y=y**2
print(product_x,product_y)

enter the 1 st number:10
enetr the 2 nd number:20
100 400

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to fetch the words from the given list which have their first character in uppercase.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
namesList = ['santa Maria', 'Hello World','Merry christmas', 'tHank You']
solutionList=[]

for name in namesList:
    namevar=name.split()
    for i in range (len(namevar)):
      if namevar[i][0].isupper():
        solutionList.append(namevar[i])

print(solutionList)

['Maria', 'Hello', 'World', 'Merry', 'You']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. A list of dates (dd-mm-yyyy) in the form of string is given below. Create a new list that stores years i.e. the 'yyyy' part from the dates in the given list.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']</b><br>
<b>Output: ['1997','2011','1993','2020']</b>

In [ ]:
data= ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']
year=[]
for i in data :
  year.append(i.split('-')[2])
print(year)

['1997', '2011', '1993', '2020']

In [ ]:
datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']
year = []                # An empty list for appending the output
for date in datesList:   # Iterating each element from datesList
    year.append(date.split('-')[2])   # split('-') will split the element in a list w.r.t '-'. Then appending the 3rd element from the splitter list.

print(year)              # Printing the output

['1997', '2011', '1993', '2020']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Consider the string (quote) given below. Print a string having unique words from the quote (Remove the duplicates from a string and return a new string without duplicates).<br><br> Note: Do not use any string inbuilt function. Also do not use set()</b>
                </font>
            </div>
        </td>
    </tr>
</table>
<b>quote = "God made man man made money money made man mad"</b><br>
<b>Output: God made man money mad</b>

In [ ]:
data="God made man man made money money made man mad"
names=data.split()
newlst=[]

for i in names:
   if i not in newlst:
      newlst.append(i)

print(newlst)

# quote = "God made man man made money money made man mad"
# lst = quote.split()             # split() will split the string on ' ' and put the splitted elements in the list 'lst'.
# newlst = []                     # Creating an empty list
# new_s = " "                     # Creating an empty string to store the output that will not have duplicates

# for word in lst:                # Iterating each word from the splitted list.
#     if word not in newlst:      # Returns True if the word is not present in the empty list 'newlst'.
#         newlst.append(word)     # If the above condition is satisfied, then that wordis appended to the newlst

# new_s = new_s.join(newlst)      # join() joins the list to the string on ' '.
# print(new_s)

['God', 'made', 'man', 'money', 'mad']

God made man money mad

<table align="left">
    <tr>
        <td width="8%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Sort all the elements of the list according to the first letter, irrespective of their cases (uppercase or lowercase)<b>Condition : Do not use any inbuilt sorting function.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>languages = ['python', 'R', 'Java', 'scala', 'C', 'C++']</b><br>
<b>Output: ['C', 'C++', 'Java', 'python', 'R', 'scala']</b>

In [ ]:
languages = ['python', 'R', 'Java', 'scala', 'C', 'C++']
# print(len(languages))

for i in range(len(languages)):      # Iterating through the list
    for j in range(i+1, len(languages)):      # Iterating through the same list but with indices i+1
        if(languages[i][0].lower() > languages[j][0].lower()):    # Comparing the first characters of the words at index i and i+1.
            languages[i], languages[j] = languages[j], languages[i]     # Swapping the words position if the above condition is met.

print(languages)

['C', 'C++', 'Java', 'python', 'R', 'scala']

In [ ]:
saa