<a href="https://colab.research.google.com/github/sumanthgm/Data-Structures-Python/blob/main/Take_Home_(Session_2)_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Session 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to print following pattern</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [ ]:
print("Print Pattern")
number = 6
Ascii_value = 65
for i in range(0, number):
    for j in range(0, i+1):
        character  = chr(Ascii_value)
        print(character, end=' ')
        Ascii_value+=1
    print(" ")

Print Pattern
A
B C
D E F
G H I J
K L M N O
P Q R S T U

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to print tables from 2 to a user provided range (take number from user)
                 </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
range_num = int(input('Enter a number in range: '))
for i in range (2, range_num+1):
  for j in range (1,11):
    print(n,'X',i,"=",n*i)
  print

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Consider the given two tuples. Divide corresponding elemets of two tuples and print the result as tuple (use zip())</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

   **The original tuple 1 : (10, 4, 6, 9)**

   **The original tuple 2 : (5, 2, 3, 3)**

   **Output: (2, 2, 2, 3)**

In [ ]:
#zip is a built-in function that takes two or more sequences and “zips” them into a list of tuples where each tuple contains one element from each sequence.
#zip() + generator expression
# initialize tuples
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

# printing original tuples
print("The original tuple 1 : " + str(tuple1))
print("The original tuple 2 : " + str(tuple2))

# Tuple division
# using zip() + generator expression
res = tuple(ele1 // ele2 for ele1, ele2 in zip(tuple1, tuple2))

# printing result
print("The divided tuple : " + str(res))

The original tuple 1 : (10, 4, 6, 9)
The original tuple 2 : (5, 2, 3, 3)
The divided tuple : (2, 2, 2, 3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a list comprehension to find words whose length is less than 5 from the given multi-dimensional list</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

**astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']] **

In [ ]:
astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]
word_list = [i for sublist in astro for i in sublist if len(i) < 6]
word_list

['sky', 'sun', 'moon', 'star', 'mars', 'Pluto']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to append a dictionary to a tuple</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**The original tuple : (4, 5, 6)**

**Tuple after addition of dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})**

In [ ]:
# Add dictionary to tuple
# initialize tuple
tuple1 = (4, 5, 6)

# printing original tuple
print("The original tuple : " + str(tuple1))

# initialize dictionary
new_dict = {"gfg" : 1, "is" : 2, "best" : 3}

# Add dictionary to tuple
# using append() + tuple() + list comprehension
tuple1 = list(tuple1)
tuple1.append(new_dict)
tuple1 = tuple(tuple1)

# printing result
print("Tuple after addition of dictionary : " + str(tuple1))

The original tuple : (4, 5, 6)
Tuple after addition of dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [ ]:
s1 = str(input("Enter a string : "))
s2 = str(input("Enter a string : "))

if(sorted(s1.lower())== sorted(s2.lower())):
    print("The strings are anagrams.")
else:
    print("The strings aren't anagrams.")

Enter a string : hi
Enter a string : ig
The strings aren't anagrams.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to remove space from keys of the given dictionary  </b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange',
                'Fruits 0 3 ': 'Grapes'}**

**(Output)New dictionary :   {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}**

In [ ]:
# creating a dictionary of type string

fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange',
                'Fruits 0 3 ': 'Grapes'};

# removing spaces from keys
# storing them in same dictionary
fruity = {x.replace(' ', ''): v
 for x, v in fruity.items()}

# printing new dictionary
print (" New dictionary : ",fruity)

 New dictionary :  {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to transpose a matrix using list comprehension</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**matrix=[[1,2],[3,4],[5,6],[7,8]]**<br>
**Output: [[1, 3, 5, 7], [2, 4, 6, 8]]**

In [ ]:
matrix=[[1,2],[3,4],[5,6],[7,8]]
transpose =[[r[i] for r in matrix] for i in range (2)]
transpose

[[1, 3, 5, 7], [2, 4, 6, 8]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Consider the below string 'input_str'. Take the position index from user and from that position print Mirror string.</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint : Mirror String : In mirror operation, we change ‘a’ to ‘z’, ‘b’ to ‘y’,'c' to 'x' and so on.**

**Example**

**input_str = program**

**Position Index = 2**

**Output String = prltizn**

In [ ]:
# Mirrior String

# position from which the reversing shall be

input_str = str(input("Enter the string : "))
reverseAlphabet = "zyxwvutsrqponmlkjihgfedcba"
l = len(st)

n = int(input("Enter a number : "))

# string, we reverse the alphabetical order
answer = ""
for i in range(0, n):
    answer = answer + st[i];

for i in range(n, l):
    answer = (answer +
    reverseAlphabet[ord(st[i]) - ord('a')]); # ord() function returns the number representing the unicode code of a specified character.


print(answer)

Enter the string : program
Enter a number : 2
prltizn

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to create a 5x3 matrix with values in each row as 1,2, and 3</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
m = [[j for j in range(1,4)] for i in range(1,6)]
m

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. A list of words is given. Convert the words into uppercase.</b>
                    <br>
                    <br>
                    <b>Use lambda and map functions</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [ ]:
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']
output = list(map(lambda x: x.upper() , lsbool))               # upper() converts a string into Uppercase.
                                                           # lambda is an anonymous function. map() iterates the lambda function over the given list 'ls'.
print(output)                                              # Print the output List.

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Replace 'TRUE' with 1 and 'FALSE' with 0. Use the above question's output as an input to this current question.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
converter = lambda x : 1 if (x == 'TRUE') else 0           # If a value in the list is TRUE, then it is replaced with 1 otherwise with 0
list(map(converter, output))                               # map() iterates the lambda function 'converter' over the given list 'output'.

[1, 0, 1, 1, 0, 0, 1]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by 2.</b>
                    <br><br>
                    <b>E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double} and so on </b>
                    <br><br>
                    <b>Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Take input from user for each function parameter inside the dictionary
inpsq = int(input('Enter first number: '))
inpcu = int(input('Enter second number: '))
inproot = int(input('Enter third number: '))
inpdouble = int(input('Enter forth number: '))

# Creating a dictionary with keys: Square, Cuve, Squareroot and Double. The values are the lambda functions.
dictLambda = {'Square': lambda x:x**2, 'Cube': lambda x:x**3, 'Squareroot': lambda x:(x**0.5),'Double': lambda x:x*2}

# Passing the user input value to the lambda functions and storing the sum of the outputs in the 'result' variable
result = dictLambda['Square'](inpsq) + dictLambda['Cube'](inpcu) + dictLambda['Squareroot'](inproot) + dictLambda['Double'](inpdouble)

# Printing the sum
print('Sum : ',result)

Enter first number: 5
Enter second number: 6
Enter third number: 100
Enter forth number: 23
Sum :  297.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. A list of words is given. Find the words from the list that have their second character in uppercase.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']</b><br>
<b>Output: ['hOw', 'ARe']</b>

In [ ]:
words = ['hello', 'Dear', 'hOw', 'ARe', 'You']

def filterNames(x):                 # Creating a function filterNames(parameter) that will return the result as a boolean value
    if x[1].isupper():              # Checking whether the second character of the word fromthe list 'ls' is in upper case or not.
        return True
    else:
        return False
list(filter(filterNames, words))       # Returns the words that have their second character in uppercase

['hOw', 'ARe']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Filter the marks from the tuple "tmarks" that are  greater than 40 and print corresponding names from the "tnames" tuple.</b><br><br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [ ]:
tnames = ('John','Sharon','Jack','Annie')     # Tuple with names of the students
tmarks = (32,50,75,12)                        # Tuplw with marks of the respective students from 'tnames'

def filterMarks(x):                           # Creating a function to check if the marks are above 40. Returns Boolean value.
    if x > 40:                                # Check if marks are greater than 40. If yes,
        return True                           # Return True
    else:                                     # Else return False
        return False

marks = list(filter(filterMarks, tmarks))     # A list of marks that are greater than 40 is stored in marks variable

for j in marks:                               # Iterating through the marks list
    print(tnames[tmarks.index(j)])            # Printing the name of students wrt the marks indices

Sharon
Jack

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 16. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions)</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}       # Weight of people in kg
GMoon = 1.622                                              # Gravitational force on the Moon: 1.622 m/s2
GEarth = 9.81                                              # Gravitational force on the Earth: 9.81 m/s2

Output:
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [ ]:
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}       # Weight of people in kg
GMoon = 1.622                                              # Gravitational force on the Moon: 1.622 m/s2
GEarth = 9.81                                              # Gravitational force on the Earth: 9.81 m/s2

# Returning a the weights on moon as a list
# Formula : wMoon = (wEarth * GMoon) / GEarth
WeightOnMoon = list(map(lambda x: round((x*GMoon)/GEarth,2), WeightOnEarth.values()))

# Zipping (Combining) the keys of dictionary 'WeightOnEarth' and the values of the list 'WeightOnMoon'
WeightOnMoon_dict = dict(zip(WeightOnEarth.keys(), WeightOnMoon))

print('Weight on Moon: ', WeightOnMoon_dict)


# Alternate formula for conversion
# Weight on moon is approx. 1/6 th of the weight on earth
# WeightOnMoon = list(map(lambda x: round(x / 6, 2), WeightOnEarth.values()))
# WeightOnMoon

Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 17. A list containing multiple lists is given. Convert each inner list into sets and find intersection of all the sets.</b><br><b>Use reduce function.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]</b><br>
<b>Output: {8, 3}</b>

In [ ]:
from functools import reduce
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]

result_intersection = reduce(set.intersection, map(set, given_sets))
print(result_intersection)

{8, 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 18. Count the number of characters in the string (given by the user) that are not present in the 'glstring'. Do not count the white spaces.</b><br>
                    <br>
                    <b> Use Recursion</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>glstring = 'great'</b>

In [ ]:
glstring = 'great'                     # Given string
strUser = input('Enter a string: ')    # String from user

def reccFilterFunc(str_inp):
    if str_inp == '':                  # Ignoring white spaces
        return 0
    if str_inp[0].lower() not in glstring and str_inp[0].isalpha():    # Converting string characters to lowercase and checking if that character is not in glstring.
        return 1 + reccFilterFunc(str_inp[1:])                         # Adding 1 to the output of reccFilterFunc. Here taking the parameter as the string starting from index 1
    else:
        return reccFilterFunc(str_inp[1:])                             # If the character is in glstring, then call recursion function without incrementing

reccFilterFunc(strUser)                                                # Returns the count of the characters that are not present in the glstring

Enter a string: hello world

8

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 19. Two sets are given below. One set contains the name of players who played in World Cup 2011. The other set contains the name of playes who played in World Cup 2015.</b><br>
                    <b>Perform the following operations:
                    <ol type = '1'>
                        <li> Find the list of all players who played in either 2011 or 2015 World Cup. </li>
                        <li> Find the list of players who played for both 2011 and 2015 World Cup. </li>
                        <li> Find the list of players who were 'not' the part of 2011 World Cup and played in 2015 World Cup</li>
                     </ol>
                    </b>  
                </font>
            </div>
        </td>
    </tr>
</table>

WCup2011 = {'Dhoni', 'Sehwag', 'Raina', 'Tendulkar', 'Gambhir', 'Kohli', 'Yuvraj', 'Yufsuf'}
WCup2015 = {'Dhoni', 'Dhawan', 'Raina', 'Rohit', 'Rahane', 'Kohli', 'Jadeja', 'Rayudu'}

In [ ]:
# Solution 1.
WCup2011.union(WCup2015)              # Performing Union Operation

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yufsuf',
 'Yuvraj'}

In [ ]:
# Solution 2.
WCup2011.intersection(WCup2015)       # Performing Intersection Operation

{'Dhoni', 'Kohli', 'Raina'}

In [ ]:
# Solution 3.
WCup2015.difference(WCup2011)         # Performing Set Difference Operation

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 20. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function.</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>Input list: [9,8,7,6,5]</b>

In [ ]:
from itertools import accumulate
result = accumulate([9, 8, 7, 6, 5], lambda x, y: (x + y) / 2)      # Passing the list and the lambda function to find the average

for res in result:              # Iterating through the result to see the each step
    print(res)

9
8.5
7.75
6.875
5.9375